@import url(../modules/header/header.css);
@import url(../modules/footer/footer.css);
@import url(../css/main-blocks/journal-main.css);
@import url(../modules/css-variables.css);
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    cursor: pointer;

}
