@import url(../modules/css-variables.css);
@import url(../modules/header/header.css);
@import url(../modules/footer/footer.css);
@import url(../css/main-blocks/asosiy-main.css);

* {
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    cursor: pointer;
}

.active-class {
    color: var(--primary-color);
}