footer {
    width: 100%;
    background-color: var(--secondary-color);
    position: relative;
    bottom: -10%;
    display: inline-block;
}
.footer-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 30px 0;
}
.footer-category,
.footer-web-icons {
    display: flex;
}
.footer-category li,
.footer-web-icons li {
    margin-left: 20px;
    font-size: 14px;
} 
.footer-category li a,
.footer-web-icons li a {
    color: black;
}
.footer-category li :hover,
.footer-web-icons li a:hover {
    color: var(--primary-color);
}
