@import url(./category-header/header.css);
@import url(./category-footer/footer.css);
@import url(./category-main/main.css);
@import url(./css-variables.css);

ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}