@import url(../header/header.css);
@import url(../footer/footer.css);
@import url(./hashtag-main/main.css);
@import url(./css-variables.css);

a {
    text-decoration: none;
    cursor: pointer;
}
li {
    list-style: none;
}